#output {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
}

#output > svg {
  border: 2px solid #eee;
  border-radius: 8px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.commit {
  stroke: gray;
  stroke-width: 4px;
  fill: silver;
}

.commit.new {
  fill: yellow;
}

.commit.current,
.link.current {
  stroke: purple;
}

.commit.head {
  stroke: red;
}

.commit > text {
  stroke-width: 0;
  stroke: black;
  fill: black;
  font-size: 1em;
  font-weight: bold;
  shape-rendering: crispEdges;
}

.commit > text.letter {
  text-anchor: middle;
  alignment-baseline: middle;
}

.commit > text.objectname {
  text-anchor: start;
  alignment-baseline: middle;
}

.commit > text.msg {
  stroke: #333;
  fill: #333;
  text-anchor: start;
  alignment-baseline: middle;
}

.commit > text.refnames {
  stroke: green;
  fill: green;
  text-anchor: start;
  alignment-baseline: middle;
}

.link {
  stroke: gray;
  stroke-width: 4px;
}
